<div class="container">
  <h1>Change Password</h1>
  <form class="standard-form"  [formGroup]="passwordResetRequestFormGroup">
    <mat-form-field class="compact-form-input">
        <input matInput
        placeholder="Password"
        formControlName="passwd"
        id="passwd"
        name="passwd"
        type="password"
        autocomplete="off"
        required
        >
    </mat-form-field>
    <br><br>
    <mat-form-field class="compact-form-input">
        <input matInput
        placeholder="ConfirmPassword"
        formControlName="confirmPasswd"
        id="confirmPasswd"
        name="confirmPasswd"
        type="password"
        autocomplete="off"
        required
        >
    </mat-form-field>
    <br><br>
    <button mat-raised-button
      type="submit"
      color="primary"
      (click)="attemptChangePassword()"
    >Change Password
    </button>
  </form>
</div>
