<br><br>
<div  style="text-align:left; width:50%;margin:auto">
    <form [formGroup]="userEditFormGroup">

      <mat-form-field class="full-width">
        <input matInput
        placeholder="User Name"
        formControlName="username"
        id="username"
        name="username"
        type="text"
        autocomplete="off"
        required
        >
      </mat-form-field>
      <div *ngIf="!userEditFormGroup.value['createUser']">
        <br>
        <mat-form-field class="full-width" >
          <input matInput
          placeholder="Password"
          formControlName="passwd"
          id="passwd"
          name="passwd"
          type="password"
          autocomplete="off"
          required
          >
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" >
          <input matInput
          placeholder="Confirm Password"
          [value]="confirmPasswd" (input)="confirmPasswd = $event.target.value"
          id="confirmPasswd"
          name="confirmPasswd"
          type="password"
          autocomplete="off"
          required
          >
        </mat-form-field>

      </div>
      <mat-form-field class="full-width">
        <input matInput
        placeholder="Email"
        formControlName="email"
        id="email"
        name="email"
        type="text"
        autocomplete="off"
        required
        >
      </mat-form-field>
      <br>
      <mat-accordion class="accordian-headers-align">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Notes
            </mat-panel-title>
            <mat-panel-description>
              View & Edit Notes
            </mat-panel-description>
          </mat-expansion-panel-header>




      <div >
        <div class = "p-editor-label-style" > User Notes </div>

<p-editor
  id="userNotes"
  *ngIf="userCanEdit"
  name="userNotes"
  formControlName="userNotes"
  [style]="{'height':'320px'}" >

</p-editor>

<p *ngIf="!userCanEdit" [innerHTML]="appGrantEditFormGroup.value['userNotes']"></p>


      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandGroups()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Group Membership
        </mat-panel-title>
        <mat-panel-description>
          View & Edit Group Membership
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div class="group-container">
        <h3>Member of</h3>

        <div
          cdkDropList
          #appliedGroupMembership="cdkDropList"
          [cdkDropListData]="appliedGroupMembershipList"
          [cdkDropListConnectedTo]="[availGroupMembership]"
          (cdkDropListDropped)="groupChangeDrop($event)"
          class="group-list">
            <div
              class="group-box"
              *ngFor="let item of appliedGroupMembershipList" cdkDrag>
              {{ item.groupRoleName }}
            </div>
        </div>
      </div>



      <div class="group-container">
        <h3>Available</h3>

        <div
          cdkDropList
          #availGroupMembership="cdkDropList"
          [cdkDropListData]="availGroupMembershipList"
          [cdkDropListConnectedTo]="[appliedGroupMembership]"
          (cdkDropListDropped)="groupChangeDrop($event)"
          class="group-list">
            <div
             class="group-box"
             *ngFor="let item of availGroupMembershipList" cdkDrag>
              {{ item.groupRoleName }}
            </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Information
        </mat-panel-title>
        <mat-panel-description>
          View Additional Record Information
        </mat-panel-description>
      </mat-expansion-panel-header>


        <br>
<div *ngIf="userEditFormGroup.value['createUser']">
  Created By: {{ userEditFormGroup.value['createUser'] }} @
  {{ userEditFormGroup.value.createDate['$date'] | date:'yyyy-MM-ddTHH:mm:ss.sssZ' }}
  <br>
  Updated By: {{ userEditFormGroup.value['updateUser'] }} @
  {{ userEditFormGroup.value.updateDate['$date'] | date:'yyyy-MM-ddTHH:mm:ss.sssZ' }}
  <br>
</div>
</mat-expansion-panel>
</mat-accordion>


<div *ngIf="formEditMode=='UPD'"
  class="fab-button-bottom-right">
  <button
    mat-fab
    *ngIf="userCanUpdate"
    color="primary"
    type="submit"
    (click)="attemptUpdate()">
    Save</button> <br> <br>
  <button
    mat-fab
    *ngIf="userCanDelete"
    color="secondary"
    type="submit"
    (click)="attemptDelete()">
    Delete
  </button>
</div>
<div *ngIf="formEditMode=='INS'"
  class="fab-button-bottom-right">
  <button
    type="submit"
    *ngIf="userCanCreate"
    mat-fab
    color="primary"
    (click)="attemptCreate()">
      Create
  </button>
</div>

    </form>
</div>
